<h1>Skate Park</h1>

<div class="py-4">
    <h2>Datos del perfil</h2>
    <hr class="w-50" />

    <form id="formDatos">
        {{#if skater}}

            <div class="form-group row w-50 m-auto">
                <div class="form-group col-12 col-sm-6">
                    <label>Email</label>
                    <input class="form-control m-auto" disabled value="{{skater.email}}" name="email" />
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label>Nombre</label>
                    <input class="form-control m-auto" value="{{skater.nombre}}" name="nombre" />
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label>Password</label>
                    <input type="password" class="form-control m-auto" name="password" />
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label>Repita la password</label>
                    <input type="password" class="form-control m-auto" name="repeat_password" />
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label>Años de experiencia</label>
                    <input
                        class="form-control m-auto"
                        value="{{skater.anos_experiencia}}"
                        name="anos_experiencia"
                    />
                </div>
                <div class="form-group col-12 col-sm-6">
                    <label>Especialidad</label>
                    <input class="form-control m-auto" value="{{skater.especialidad}}" name="especialidad" />
                </div>
            </div>
            <div class="mb-1">
                <button class="btn btn-primary" type="submit">Actualizar</button>
            </div>
            <div>
                <button class="btn btn-danger" id="btnEliminar">Eliminar cuenta</button>
            </div>
        {{/if}}
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./assets/js/datos.js"></script>